body {
  padding-top: 95px;
  padding-bottom: 95px;
  align-items: center;

}

#background{
	background: #DCDCDC
}

/*-------------------------------------------------Avaliar Item-------------------------------------------------*/

.avaliacoes-username {
  border: solid 1px;
  border-color:#5bc0de;
  margin-bottom: 5px;
  border-radius: 5px;
}

.comentario-box{
  background: #e9ecef;
}

.avaliacoes-box{
  background: white;
  padding-top: 5px;
  border: solid 1px;
  border-color:#5bc0de;
  border-radius: 5px;
}

.img-circle-avaliacao {
    border: solid 1px;
    border-color:#5bc0de;
    border-radius: 50%;
    margin-right: 15px;
}
.img-circle-avaliacao {
    border-radius: 0;
}

.ratio-avaliacao {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 0;
    padding-bottom: 10%;
    position: relative;
    width: 10%;
}
.img-circle-avaliacao {
    border-radius: 50%;
}
.img-responsive-avaliacao {
    display: block;
    height: auto;
    max-width: 10%;
}

.font-user-avaliacao{
  color:black;
  font-size: 20px;
}

.curtir-avaliacao {
    font-weight: bold;
    color: gray;
}

.curtir-avaliacao:hover{
  color: red;
  cursor: pointer;
}

.font-bold-avaliacao{
  color: gray;
	font-size: 15px
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #5bc0de;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


/*-------------------------------------------------Avaliação-------------------------------------------------*/

.label-text{
  font-weight: normal;
}


.comentario-area-avaliar{
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 35px;
}

.btn-avaliar{
  margin-top: 15px;
  width: 150px;
}

.avaliacoes-section{
    margin-bottom: 5px;
}

/*-------------------------------------------------Profile-------------------------------------------------*/

.background-section {
    background: #000000;
}
