{% extends "base.html" %}

{% block title %}Log-in{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-md-4 offset-md-4">
              <div class="login-form bg-white mt-4 p-4">

                  <form action="{% url 'login' %}" method="post" class="row g-3">
                     {% csrf_token %}
                     <input type="hidden" name="next" value="{{ next }}"/>
                      <h1 class="h3 mb-3 fw-normal text-center">Log-in</h1>
                      <div class="col-12">
                          <label>Username</label>
                          <input type="text" name="username" class="form-control" placeholder="Username">
                      </div>
                      <div class="col-12">
                          <label>Password</label>
                          <input type="password" name="password" class="form-control" placeholder="Password">
                      </div>
                      <div class="col-12">
                          <div class="form-check">
                              <input class="form-check-input" type="checkbox" id="rememberMe">
                              <label class="form-check-label" for="rememberMe"> Lembrar de mim</label>
                          </div>
                      </div>
                      <div class="col-12">
                          <button type="submit" class="btn btn-dark float-end">Login</button>
                      </div>
                  </form>

                  <hr class="mt-4">
                  <div class="col-12">
                      <p class="text-center mb-0">Novo em FLS? <a href="#">Cadastre-se</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
