{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Alterar senha{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="bg-white mt-4 p-4 rounded shadow-sm">
          <h1 class="h3 fw-normal text-center">Alterar senha</h1>
            <form method="post" class="row g-3">
              {% csrf_token %}
              <div class="col-sm-12 mt-4">
                {{ password_edit_form.old_password|as_crispy_field }}
              </div>
              <div class="col-sm-12">
                {{ password_edit_form.new_password1|as_crispy_field }}
              </div>
              <div class="col-sm-12 mb-4">
                {{ password_edit_form.new_password2|as_crispy_field }}
              </div>
              <div class="col-12 text-center ">
              <button class="btn btn-info" type="submit">Alterar</button>
              </div>
            </form>
        </div>
      </div>
    </div>
</div>
{% endblock %}
