{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}
<main>
  <section class="header-usuario container-fluid text-center dados-profile mt-n4" id="header-usuario-bg" style=background-color:#81DAF5>
      <img src="{% if user.profile.photo %} {{ user.profile.photo|thumbnail_url:'avatar'}}
      {% else %}
      {% static "img/no_photo.png" %}
      {% endif %}"
      class="rounded-circle img-fluid p-5 img-responsive" alt="Responsive image">
      <div class="background-section row text-white p-2">
        <h3 class="col nome-usuario">{{ user.profile.full_name }}</h3>
      </div>

      <div class="background-section d-flex justify-content-around row text-white p-2 border-top border-info">
        <h5 class="col">Amigos 0</h5>
        <h5 class="col">Solicitações de Amizade 0</h5>
        <h5 class="col">Recomendações 0</h5>
      </div>
  </section>
</main>

<main class="container mt-4">
  <div class="table-responsive-sm container bg-white p-4 rounded shadow-sm">
    <div class="text-atividades">
      <h4 class="text-center p-4">Avaliações</h4>
    </div>
    <table class= "table border border-info">
      <tbody>
        <thead class="thead-dark text-center">
          <tr class="table-usuario">
            <th class="table-usuario" scope="col">Título</th>
            <th class="table-usuario" scope="col">Item</th>
            <th class="table-usuario" scope="col">Nota</th>
            <th class="table-usuario" scope="col"> </th>
          </tr>
        </thead>
        {% for eval in evals %}
        <tr class="text-center table-usuario">
          <td>{{eval.item}}</td>
          <td>{{eval.item.item_type}}</td>
          <td>{{eval.rating}}</td>
          <td><a class="btn btn-info" role="button" href="{{eval.item.get_absolute_url}}">Visualizar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <h4 class="text-center text-atividades mt-4"><button type="button" class="btn btn-info btn-style">Ver mais</button></h4>
  </div>
</main>
{% endblock %}
