{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Cadastrar-se{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="bg-white mt-4 p-4 rounded shadow-sm">
            <h1 class="h3 fw-normal text-center">Cadastrar-se</h1>
            <p class="lh-sm text-center">
              Compartilhe seus filmes, séries e livros favoritos com seus colegas!
            <p><br>
            <form method="post" class="row g-3">
              {% csrf_token %}
              <div class="col-sm-12">
                {{ profile_form.full_name|as_crispy_field }}
              </div>
              <div class="col-sm-6">
                {{ user_form.username|as_crispy_field }}
              </div>
              <div class="col-sm-6">
                {{ profile_form.date_of_birth|as_crispy_field }}
              </div>
              <div class="col-sm-6">
                {{ profile_form.state|as_crispy_field }}
              </div>
              <div class="col-sm-6">
                {{ profile_form.city|as_crispy_field }}
              </div>
              <div class="col-sm-6">
                {{ user_form.password1|as_crispy_field }}
              </div>
              <div class="col-sm-6">
                {{ user_form.password2|as_crispy_field }}
              </div>
              <div class="col-12 text-center">
              <button class="btn btn-info" type="submit">Cadastrar-se</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
{% endblock %}
